# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
dist/
*.err
*.i
*.d
build/
production/
/USB/Demos/Demos.X/.map
/USB/Demos/Demos.X/nbproject/private/private.xml
/DemoPoc.X/nbproject/Makefile-genesis.properties
/DemoPoc.X/nbproject/Makefile-variables.mk
/Microchip Solutions v2012-10-15/USB/Device - HID - Custom Demos/Firmware/nbproject/private/private.xml