# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
dist/
*.err
*.i
*.d
build/
production/

**/USB/Demos/Demos.X/.map
**/nbproject/private/private.xml
**/nbproject/Makefile*.*
**/nbproject/Makefile-genesis.properties


**/.vscode